@import 'base';
// All Styles
.header {
  &__top {
    z-index: 10;
    background-color: #fff;
    padding: 22px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__top--left {
    display: flex;
    align-items: center;
  }
  &__top--btn {
    margin-left: auto;
    height: 53px;
    width: 180px;
    white-space: nowrap;
  }
  &__main {
    position: relative;
    padding: 153px 0px 152px 165px;
    min-height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .container {
      position: absolute;
      height: auto;
      padding: 0;
    }
  }
  &__main--image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  &__main--title {
    font-family: 'Space Mono';
    max-width: 500px;
    color: $white;
    margin-bottom: 20px;
  }
  &__main--subtitle {
    position: relative;
    max-width: 405px;
    margin-left: 95px;
    color: $white !important;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    img {
      position: absolute;
    }
    .header-line {
      top: 50%;
      left: -65%;
      transform: translateY(-50%);
    }
    .header-line-right {
      left: 110%;
      top: 50%;
      transform: translateY(-5%);
    }
  }
  &__main--btn {
    margin-top: 20px;
    margin-left: 95px;
  }
}

.opportunity {
  position: relative;
  padding: 160px 0 100px 0;
  &__line {
    position: absolute;
    width: 973px;
    height: 15px;
    top: 200px;
    right: 30%;
    background-color: $lightGrey;
  }
  &__row {
    display: flex;
    column-gap: 30px;
  }
  &__img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color: $yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    position: relative;
    z-index: 10;
  }

  &__title {
    margin-bottom: 27px;
    color: $darkNavy;
  }

  &__subtitle {
    max-width: 350px;
  }
}

// Section Circle
.circle {
  position: relative;
  .container {
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__body {
    padding-top: 66px;
    max-width: 445px;
  }

  &__title {
    margin-bottom: 24px;
    color: $darkNavy;
  }

  &__subtitle {
    margin-bottom: 40px;
  }

  &__image {
    margin: 0 auto;
    z-index: 5;
    border-radius: 50%;
  }
}
.circle-1 {
  padding: 100px 0px 77px 0px;
  .circle__mask-img {
    position: absolute;
    right: 0;
  }
  .circle__line-img {
    position: absolute;
    right: 0;
    bottom: 74px;
    z-index: 6;
  }
}
.circle-2 {
  padding: 77px 0px 80px 0px;
  .circle__mask-img {
    position: absolute;
    left: 0;
  }
  .circle__line-img {
    position: absolute;
    top: 77px;
    left: 0;
    z-index: 6;
  }
}
.circle-3 {
  padding: 80px 0px 100px 0px;
  .circle__mask-img {
    position: absolute;
    right: 0;
  }
  .circle__line-img {
    position: absolute;
    top: 175px;
    right: 0;
    z-index: 6;
  }
  .circle__image {
    width: 445px;
    height: 445px;
  }
}
// Footer
.footer {
  &__main {
    padding-top: 102px;
    padding-bottom: 102px;
    background-color: $darkNavy;
    color: $white;
    position: relative;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    max-width: 415px;
    font-family: 'Space Mono';
  }

  &__buttons {
    display: flex;
    z-index: 2;
  }
  &__btn--content {
    display: flex;
    flex-direction: column;
  }
  &__btn {
    padding: 8px 16px 8px 16px;
    display: flex;
    background-color: $lightGrey;
    border-radius: 4px;
    color: $darkNavy;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 18px;
    }
  }

  &__btn-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
  }

  &__btn--subtitle {
    text-align: left;
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: -0.446429px;
  }

  &__btn--title {
    text-align: left;
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.892857px;
  }
}
// Footer bg circle images
.circles-footer {
  position: absolute;
  display: flex;
  right: 0;
  bottom: -7px;
  column-gap: 56px;
  &__item:last-child {
    // position: absolute;
    bottom: 0px;
    transform: translateY(7px);
  }
}
// Footer Bottom Content
.bottom-footer {
  background-color: $footerBg;
  padding: 36px 0;
  z-index: 2;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__left {
    display: flex;
    align-items: center;
    svg path {
      fill: $lightGrey;
    }
  }
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      svg path {
        transition: all 0.3s ease 0s;
        fill: $lightGrey;
      }
    }
  }
}
